.notification-wrapper {
  position: fixed;
  top: 0; /* Start hidden above the screen */
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.notification-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.notification-content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: #333;
  overflow: hidden;
}

.notification-header {
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}

.notification-header ion-icon {
  cursor: pointer;
}

.notification-body {
  padding: 0 20px 20px;
  text-align: center;
}

.notification-body h3 {
  margin-top: 0;
  color: #000;
}

.notification-footer {
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
}

.update-button {
  background: #007aff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.update-button:hover {
  background: #0056b3;
}
