#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.coordinates {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#map {
  height: 300px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

// .where-am-i-button {
//   --background: #3880ff;
//   --color: white;
//   --border-radius: 20px;
//   font-size: 1.2em;
//   height: 60px;
//   width: 200px;
// }

// .emergency-button {
//   width: 150px;
//   height: 150px;
//   border-radius: 50%;
//   font-size: 1.5em; /* Reduced font size to fit text */
//   --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//   text-transform: uppercase;
//   font-weight: bold;
// }

.halo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-sizing: border-box;
}

.halo.active {
  opacity: 1;
  animation: halo-glow 4s linear infinite;
}

@keyframes halo-glow {
    0% {
          box-shadow: inset 0 0 25px 15px red, inset 0 0 50px 25px yellow;
  }
  25% {
    box-shadow: inset 0 0 25px 15px lime, inset 0 0 50px 25px aqua;
  }
  50% {
    box-shadow: inset 0 0 25px 15px blue, inset 0 0 50px 25px magenta;
  }
  75% {
    box-shadow: inset 0 0 25px 15px magenta, inset 0 0 50px 25px yellow;
  }
  100% {
    box-shadow: inset 0 0 25px 15px red, inset 0 0 50px 25px yellow;
  }
}